.container {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.navigateDates {
    display: flex;
    gap: 0.1em;
    border-radius: 0.3rem;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.navigateDates > div {
    background-color: #E8E8E8;
    height: 100%;
}

.today {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;
}

.prev, .next {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.next {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.navigateViews {
    display: flex;
    gap: 1em;
}

.navigateViews > div {
    
}

.searchBar {
    position: relative;
}

.searchBar > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.3em;
}

.searchBar > input {
    background-color: rgb(233, 229, 229);
    color: black;
    padding: 0.5em 2em;
    border: none;
    border-radius: 0.3rem;
}

/* mobiles */
@media (max-width: 600px) {
    .container {
        display: none;
    }
}