.page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.main {
    /* width: 85%; */
    padding: 2vw 3vw;
    font-family: "Poppins", sans-serif;
}

.main img {
    height: auto;
}

.heading > p {
    font-size: 0.9rem;
}

.tabSelectors {
    display: flex;
    margin-top: 1.5em;
    background-color: #E8E8E8;
    width: fit-content;
    padding: 0.4em;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
}

.tabSelectors > div {
    display: flex;
    align-items: center;
    padding: 0.1em 0.5em;
    border-radius: 0.3rem;
    gap: 0.3em;
}

.main > form > button {
    background-color: #1877F2;
    color: white;
    margin-top: 1em;
}

/* mobiles */
@media (max-width: 600px) {
    html {
        font-size: 8px;
    }

    .main {
        width: 100%;
    }

    .heading {
        margin-top: 1em;
    }

    .tabSelectors {
        border-radius: 0.7rem;
        gap: 1em;
        padding: 0.5em;
    }

    .tabSelectors > div {
        border-radius: 0.5rem;
    }

    .tabSelectors img {
        width: 20%;
    }

    .main > form > button {
        width: 30%;
        padding: 0.7em 0;
        border-radius: 0.8rem;
        font-size: 1.2rem;
    }
}

/* laptops */
@media (min-width: 1023px) {
    .page {
        background-color: #F3F3F1;;
    }

    .main {
        width: 85%;
    }

    .main > form > button {
        width: 10%;
        padding: 0.5em 0;
        margin-left: 1em;
        border-radius: 0.5rem;
    }
}