

.selectWrapper > select, .timezoneContainer > select {
    padding: 0.7em 2em 0.7em 1em;
    appearance: none;
    border: 1.5px solid #E0E0E0;
}

.container input , .container select {
    border-radius: 0.5rem;
}

.container input {
    /* padding: 0.7em; */
    padding-left: 1em;
    border: 1.5px solid #E0E0E0;
}

.selectWrapper img {
    transform: scale(0.7);
}

.selectWrapper > span {
    position: absolute;
    top: 0;
    right: 0;
    /* left: 50%; */
    top: 10%;
    pointer-events: none;
    /* background-color: white; */
}

.selectWrapper {
    position: relative;
}

.selectWrapper::after {
    content: "";
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-bottom: 2px solid #1877F2;
    border-left: 2px solid #1877F2;
    border-bottom-left-radius: 3px;
    top: 45%;
    transform: translateY(-50%) rotate(-45deg);
    right: 10%;
}

.timezoneContainer {
    position: relative;
}

.timezoneContainer::after {
    content: "";
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-bottom: 2px solid #1877F2;
    border-left: 2px solid #1877F2;
    border-bottom-left-radius: 3px;
    top: 45%;
    transform: translateY(-50%) rotate(-45deg);
    right: 5%;
}

/* mobile  */ 
@media (max-width: 600px) {
    .container > div {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .selectWrapper::after, .timezoneContainer::after {
        border-width: 1.5px;
        width: 0.7em;
        height: 0.7em;
        border-bottom-left-radius: 2px;
    }
}

/* laptop */
@media (min-width: 1023px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    .container > div {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    
    
}