.container {
    width: 32%;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.errorBox {
    position: absolute;
    top: 8%;
    left: 2em;
}

.errorBox > div {
    display: flex;
    gap: 0.5em;
    align-items: center;
    width: fit-content;
    z-index: 100;
    font-size: 0.8rem;
    padding: 0 0.5em;
    border-radius: 1rem;
    box-shadow: 
    0px -1px 3px rgba(0, 0, 0, 0.1),  /* Very light top shadow */
    2px 2px 6px rgba(0, 0, 0, 0.15), /* Right shadow */
    -2px 2px 6px rgba(0, 0, 0, 0.15), /* Left shadow */
    0px 3px 8px rgba(0, 0, 0, 0.2);  /* Softer bottom shadow */
}

.header {
    height: 1em;
}

.content {
    margin: 1.5em 1em 1.5em 2em;
}

.editWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.editWrapper > p {
    color: #454545;
}

.icon {
    color: #676B5F;
}

.date {
    margin-top: 1em;
}

.time {
    color:#1877F2;
}

.duration {
    margin-top: 0.5em;
    color: #7E7E7E;
    font-size: 0.8rem;
}

.footer {
    margin: 1em 1em 1em 0;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    gap: 0.3em;
}

.footer > .icon {
    font-size: 1.5rem;
}

.toggleSwitch {
    position: relative;
    height: 100%;
    width: 2.5em;
}

.toggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}  

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1877F2;
    border-radius: 1.25rem;  /* px */
    transition: 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 1.25em;
    height: 1.25em;
    right: 0.1em;
    /* top: 9%; */
    top: 50%;
    transform: translateY(-50%);
}

.toggleSwitch input:checked + .slider {
    background-color: #ccc;
}

.toggleSwitch input:checked + .slider::before {
    transform: translateX(-85%) translateY(-50%);
}  

.toggleSwitch input:checked + .header {
    background-color: #ccc;
}
  
/* mobiles */
@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}
  