.formContainer, .formContainer select , .formContainer input , .formContainer textarea {
    /* width: 100%; */
    letter-spacing: 0.1em;
}

.wrapper , .timeWrapper {
    /* width: 80%; */
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.timeWrapper {
    margin-top: 0.5em;
}

.wrapper {
    margin-top: 0.5em;
}

.textareaWrapper textarea {
    resize: none;
}

.hostNameSelector , .pseudoSelector {
    position: relative;
}

.inputWrapper input , .textareaWrapper textarea , .selectWrapper select {
    border: 1.5px solid #E0E0E0;
}

.inputWrapper input::placeholder {
    color :#8A8A8A;
}

/* .textareaWrapper {
    align-items: flex-start;
} */

.selectWrapper select {
    appearance: none;
    /* padding: 0.7em 2em 0.7em 1em;
    border-radius: 0.5rem; */
}

.pseudoSelector {
    width: fit-content;
    /* position: relative; */
}

.generalFormButton {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    width: 60%;
    margin-left: 40%;
    margin-top: 1.5em;
    /* margin-bottom: 1.5em; */
}

.generalFormButton button {
    width: 30%;
    padding: 0.7em 0;
    border-radius: 0.7rem;
}

.cancelButton {
    background-color: #F3F3F1;
}

.saveButton {
    background-color: #1877F2;
    color: white;
}

/* testing */
    
.inputWrapper input {
    padding: 0.7em;
}

.textareaWrapper textarea {
    font-size: 0.8rem;
    padding: 1em;
    line-height: 1.5;
}

.selectWrapper select {
    /* appearance: none; */
    padding: 0.7em 3em 0.7em 1em;
    border-radius: 0.5rem;
}

.pseudoSelector::after, .hostNameSelector::after {
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-bottom: 2px solid #1877F2;
    border-left: 2px solid #1877F2;
    border-bottom-left-radius: 3px;
    top: 45%;
    transform: translateY(-50%) rotate(-45deg);
    right: 10%;
}

.hostNameSelector::after {
    right: 2%;
}

.selectWrapper span {
    pointer-events: none;
}

/* mobiles */
@media (max-width: 600px) {
    html {
        font-size: 12px !important;
    }

    hr {
        display: none;
    }

    .inputWrapper , .selectWrapper , .textareaWrapper {
        display: flex;
        flex-direction: column;
    }

    .none {
        display: none;
    }

    .selectWrapper {
        width: 100%;
    }

    .selectWrapper select {
        width: 100%;
    }

    .selectWrapper span img {
        display: none;
    }

    .pseudoSelector::after, .hostNameSelector::after {
        border-width: 1.5px;
        width: 0.7em;
        height: 0.7em;
        border-bottom-left-radius: 2px;
    }
}

/* laptops */
@media (min-width: 1023px) {
    .wrapper , .timeWrapper {
        width: 80%;
    }

    .inputWrapper , .selectWrapper , .textareaWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .selectWrapper > div {
        width: 60%;
    }
    
    .hostNameSelector select {
        width: 100%;
    } 

    .inputWrapper input , .textareaWrapper textarea {
        width: 60%;
        border-radius: 0.5rem;
    }
    
    .inputWrapper input {
        padding: 0.7em;
    }

    .textareaWrapper textarea {
        font-size: 0.8rem;
        padding: 1em;
        line-height: 1.5;
    }

    .selectWrapper select {
        /* appearance: none; */
        padding: 0.7em 2em 0.7em 1em;
        border-radius: 0.5rem;
    }

    .selectWrapper > div span {
        position: absolute;
        top: 10%;
        right: 0;
    }

    .selectWrapper span img {
        transform: scale(0.7);
    }

    .generalFormButton {
        margin-bottom: 1.5em;
    }
}

